<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="header.component.css" />
  </head>
  <body>
    <header class="container">
      <p id="attention-grabber">
        Trajnimet e rradhës po fillojnë!
        <a href="" style="margin-left: 0.5rem; text-decoration: underline"
          >Apliko Tani <i class="iconoir-arrow-right"></i>
        </a>

        <app-close-content-component></app-close-content-component>
      </p>
      <section id="navigation-section" aria-label="Navigation Section">
        <nav id="site-pages" aria-label="Site Pages Navigation">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Publication</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">News</a></li>
          </ul>
          <!-- <ul>
            <li>
              <a href=""><i class="iconoir-facebook-tag"></i></a>
            </li>
            <li>
              <a href=""><i class="iconoir-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="iconoir-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="iconoir-linkedin"></i></a>
            </li>
            <li id="divider-bar">|</li>
            <li>
              <a href=""><i class="iconoir-globe"></i></a>
            </li>
            <li id="lang-btn-wrapper">
              <button
                type="button"
                name="language"
                id="language"
                aria-label="language"
              >
                EN
              </button>
              <i class="iconoir-nav-arrow-down"></i>
            </li>
          </ul> -->
          <img src="assets/img/header-social.png" class="header-social" />
        </nav>
        <nav class="navbar">
          <img class="nav-branding" src="assets/img/logo.png" alt="" />

          <ul class="nav-menu">
            <li class="nav-item"><a href="#" class="nav-link">Incubator</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Trainings</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Coworking</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">Kode Trainings</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">StartuPz</a></li>
            <li>
              <img src="assets/img/search-line .png" class="search-desktop" />
            </li>
            <li class="mobile">
              <input
                class="mobile-search"
                type="search"
                id="search"
                name="search"
                placeholder="Search..."
              />
              <img src="assets/img/mob-menu-lang.png" class="mob-menu-lang" />
              <img src="assets/img/social-men-mb.png" class="social-men-mb" />
            </li>
          </ul>

          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>

        <nav id="sub-navbar" aria-label="Sub Navigation">
          <ul>
            <li><a href="">Sub Nav Item 1</a></li>
            <li><a href="">Sub Nav Item 2</a></li>
            <li><a href="">Sub Nav Item 3</a></li>
          </ul>
        </nav>
      </section>
    </header>
  </body>
</html>
