.about-contact2 {
  display: none;
}

.mobile {
  display: none;
}

.Logo {
  display: none;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-toggler {
  display: none;
}

.nav-link {
  color: #333;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

.navbar-toggler-icon {
  background-color: #333;
  width: 30px;
  height: 3px;
  border-radius: 2px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  background-color: #333;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 10rem;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
}
.nav-branding {
  font-size: 2rem;
}

.nav-link:hover {
  color: #f50;
}

/* Add responsive styles for mobile */
@media (max-width: 768px) {
  .navbar-toggler {
    display: inline;
  }

  .desktop-logo {
    display: none;
  }

  .Logo {
    display: inline;
    position: relative;
    width: 60%;
  }
  .navbar-nav {
    margin-top: 4rem;
    /* margin-left: -21rem !important; */
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #fff !important;
  }

  .navbar-toggler-icon::before {
    transform: rotate(45deg) translate(3px, 2px);
  }

  .navbar-toggler-icon::after {
    transform: rotate(-45deg) translate(3px, -2px);
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .show .navbar-nav {
    display: block;
    height: 400px;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .show .navbar-nav {
    display: block;
  }

  .nav-link {
    color: black !important;
  }
  .burger-icon .bar {
    background-color: black;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .menu-search {
    margin-left: -10px;
  }

  .mobile {
    display: inline;
  }
}

.Logo {
  position: absolute;
  top: 10px;
  z-index: 2;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 5px;
  position: absolute;
  z-index: 3;
  right: -18px;
  border: 1px solid #a2a2a9;
  border-radius: 20px;
  padding: 10px 30px;
}

/*! LANDSCAPE */
@media (max-width: 995px) and (orientation: landscape) {
  .navbar-toggler {
    display: inline;
  }

  .desktop-logo {
    display: none;
  }

  /* .footer-logo {
    width: 10%;
  } */

  .Logo {
    display: inline;
    position: relative;
    width: 35%;
  }
  .navbar-nav {
    margin-top: 4rem;
    /* margin-left: -21rem !important; */
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link {
    color: #fff !important;
  }

  .navbar-toggler-icon::before {
    transform: rotate(45deg) translate(3px, 2px);
  }

  .navbar-toggler-icon::after {
    transform: rotate(-45deg) translate(3px, -2px);
  }

  .navbar-nav {
    display: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .show .navbar-nav {
    display: block;
    height: 400px;
  }

  .navbar-nav {
    display: none;
    margin-left: -42rem !important;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .show .navbar-nav {
    display: block;
  }

  .nav-link {
    color: black !important;
  }
  .burger-icon .bar {
    background-color: black;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .menu-search {
    margin-left: -10px;
  }

  .search-field {
    margin-bottom: 6px;
  }

  .mob-menu-lang {
    margin-bottom: 10px;
  }

  .mobile {
    display: inline;
  }

  .Logo {
    position: absolute;
    top: 10px;
    z-index: 2;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
