<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css" />
  </head>
  <body>
    <footer>
      <ul>
        <li><img src="/assets/img/logo1.svg" class="footer-logo" /></li>
        <li>
          <p class="footer-p">
            We help ambitious companies scale <br />
            to their potential.
          </p>
        </li>

        <img src="assets/img/footer-social.png" class="footer-social" />
        <li class="footer-button">
          <button class="footer-button-1">
            <i class="iconoir-globe"></i>English
            <img src="assets/img/arrow-down.svg" class="arrow-down" />
          </button>
        </li>
      </ul>
      <ul class="footer-links">
        <li><h5>Company</h5></li>
        <li><a href="">About us</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Contact us</a></li>
      </ul>
      <ul class="footer-linkss">
        <li><h5>Solutions</h5></li>
        <li><a href="">Programs</a></li>
        <li><a href="">Trainings</a></li>
        <li><a href="">Co-Working</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Services</a></li>
      </ul>
      <ul class="coworking-footer">
        <li><h5>Co-Working</h5></li>
        <li><a href="">Private Desk</a></li>
        <li><a href="">Private Offices</a></li>
        <li><a href="">Meeting Rooms</a></li>
      </ul>

      <img src="assets/img/Select-menu-footer.png" class="select-menu-footer" />
      <ul class="contact">
        <li><h5>Contact</h5></li>
        <li><a href="">Ukë Bytyçi 20000 Prizren, Kosovo</a></li>
        <li>
          <a href="" style="text-decoration: underline">+383 49 473 001</a>
        </li>
        <li>
          <a href="" style="text-decoration: underline"
            >info@makerspaceprizren.com</a
          >
        </li>
      </ul>
    </footer>
    <div class="policy-wrapper">
      <p>&copy; 2021 — 2023 Makerspace Innovation Center Prizren.</p>
      <ul class="terms">
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Cookies</a></li>
      </ul>
      <a href="#attention-grabber">
        <img src="assets/img/arrow-above.svg" class="arrow-above"
      /></a>
    </div>
    <div class="chat">
      <img src="assets/img/chat.svg" class="chat-message" />
    </div>
  </body>
</html>
