/* Import the base Swiper styles */
@import "swiper/css";
/* Import the Swiper navigation styles */
@import "swiper/css/navigation";
/* Import the Swiper pagination styles */
@import "swiper/css/pagination";

body {
  font-family: "Moderat";
  width: 1680px;
  /* height: 2000px; */
}

.team-h2 {
  color: var(--color-accent-color-accent, #14181a);
  text-align: center;
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 112px;
}

.category-select {
  display: none;
}

.team-categories {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 44px 0 0 580px;
}

.team-categories span {
  color: var(--gray-500, #6b7280);
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.team-categories span:hover {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  color: #14181a;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  margin-left: -10px;
}

.team-wrapper {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  margin-top: 83px;
  margin-left: 198.5px;
}

.photo-wrapper {
  width: 356.67px;
  height: 432px;
}

.team-member-details {
  width: 324px;
  height: 142px;
  flex-shrink: 0;
  background: #fff !important;
  margin-top: -4.5rem;
  position: relative !important;
}

.name-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding-top: 20px;
  padding-left: 1px;
}

.name-detail h6 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-detail p {
  color: var(--color-primary-color-primary, #f50);
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-team-social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.our-team-selectmenu {
  display: none !important;
}

@media (max-width: 768px) {
  .our-team-selectmenu {
    display: inline !important;
    margin-top: -1.8rem;
    margin-left: 10px;
  }

  .team-wrapper {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    margin-left: 0.1rem;
    padding: 10px;
    margin-top: 1.8rem;
    margin-bottom: 5rem;
  }

  .photo-wrapper {
    width: 380px;
    height: 380px;
    flex-shrink: 0;
    margin-left: 5px;
  }

  .wrapper1 {
    display: none;
  }

  .team {
    margin-top: -4rem;
  }

  #category {
    display: flex;
    width: 364px;
    padding: 14px 20px;
    align-items: center;
    border-radius: 60px;
    background: var(--white, #fff);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
      0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    margin-left: 10px;
  }

  .category-select {
    display: inline;
  }
}

@media (max-width: 995px) and (orientation: landscape) {
  .team-wrapper {
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr)); */
    gap: 6px;
    /* margin-top: -1.5rem; */
    margin-bottom: 2rem;
    margin-left: -1.5rem !important;
  }

  .photo-wrapper {
    width: 200px;
    height: 100px;
    margin: 0 35px;
  }

  .imgs {
    width: 270px;
    height: 270px;
  }

  .team-member-details {
    width: 247px;
  }

  .team {
    margin-bottom: 7rem;
  }

  .team-categories {
    margin-left: 14.7rem;
  }

  .name-detail h6 {
    font-size: 20px;
  }

  .name-detail p {
    font-size: 17px;
  }

  .team-categories {
    display: none;
  }

  #category {
    display: flex;
    width: 380px;
    padding: 14px 20px;
    align-items: center;
    border-radius: 60px;
    background: var(--white, #fff);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
      0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    margin-left: 14rem;
    margin-top: 2rem;
  }
  
  .category-select {
    display: inline;
  }
}
