<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="executiveBoard" class="team">
      <div class="team-h2">Our Team</div>
      <div class="team-categories">
        <span>Executive Board</span>
        <span>Operating Team</span>
        <span>Instructors</span>
      </div>

      <div class="category-select">
        <select id="category">
          <option value="executive">Executive Board</option>
          <option value="operating">Operating Team</option>
          <option value="instructors">Instructors</option>
        </select>
      </div>

      <div class="team-wrapper">
        <div class="photo-wrapper" *ngFor="let member of teamMembers">
          <img [src]="member.photo" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>{{ member.name }}</h6>
              <p>{{ member.position }}</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
      </div>
      <div class="team-wrapper">
        <div class="photo-wrapper" *ngFor="let member of teamMembers">
          <img [src]="member.photo" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>{{ member.name }}</h6>
              <p>{{ member.position }}</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
