<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="about-us.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-header></app-header>

    <div class="sub-nav-links">
      <ul class="nav-links-about">
        <li><a href="">Our story</a></li>
        <li><a href="">Our values</a></li>
        <li><a href="">Executive Board</a></li>
        <li><a href="">Operating Team</a></li>
        <li><a href="">Training Instructors</a></li>
        <li><a href="">Partners & Supporters</a></li>
        <li><a href="">Partners & Supporters</a></li>
      </ul>
    </div>

    <section class="section1-about">
      <h4 class="heading1-about">About us</h4>
      <p class="heading2-about">
        We help ambitious companies scale to their potential
      </p>
      <p class="text1-about">
        We’re driven by the belief that technology can be a force for good. Our
        startups further social impact through programs that reach millions of
        people around the world.
      </p>
      <img src="assets/img/itp.png" class="itp-photo-about" />

      <div class="our-story-div">
        <div class="our-story-wrapper">
          <h3 class="our-story">Our Story</h3>
          <p class="our-story-par">
            We are an innovation center founded in 2017 in the heart of Prizren,
            Kosovo. Our mission is to foster innovation, creativity, and
            collaboration by providing a unique space where individuals and
            organizations can come together to share ideas, learn new skills,
            and develop innovative solutions to today's challenges.
            <br />
            <br />
            At Makerspace Innovation Center Prizren, we believe that innovation
            is the key to success in today's rapidly changing world. By creating
            a supportive environment where individuals from different
            backgrounds and disciplines can collaborate and exchange ideas, we
            aim to promote the development of new technologies and ideas that
            will shape the future.
            <br />

            <br />
            Our center provides a range of resources and services to support
            innovators, entrepreneurs, and makers in their endeavors. Our
            facilities include state-of-the-art equipment and tools, co-working
            spaces, and classrooms for workshops and training sessions. We offer
            a variety of programs and events designed to help members develop
            their skills and turn their ideas into reality.
          </p>
        </div>
      </div>
    </section>

    <div class="proven-success-about">
      <app-proven-success></app-proven-success>
    </div>

    <section class="section2-about">
      <h2 class="our-values-h2">Our Values</h2>
      <div class="our-values-frame">
        <div class="o-v-frame1">
          <img src="assets/img/about-frame.png" class="frame-about" />
          <img src="assets/img/about-frame.png" class="frame-about1" />
          <h3 class="frame1-h3">Equity over everything.</h3>
          <p class="frame1-par">
            Not everyone begins at the same starting line. That’s why we don’t
            provide every founder with the same support – we provide them with
            the right support.
          </p>
          <p class="frame1-par2">
            Not everyone begins at the same starting line. That’s why we don’t
            provide every founder with the same support – we provide them with
            the right support.
          </p>
        </div>
        <div class="o-v-frame1">
          <img src="assets/img/about-frame.png" class="frame-about" />
          <img src="assets/img/our-v-laptop-mob.png" class="frame-about1" />
          <h3 class="frame1-h3">Founders first.</h3>
          <p class="frame1-par">
            It's not just about accelerating companies, it's about launching the
            next generation of great founders.
          </p>
          <p class="frame1-par2">
            It's not just about accelerating companies, it's about launching the
            next generation of great founders.
          </p>
        </div>
        <div class="o-v-frame1">
          <img src="assets/img/about-frame.png" class="frame-about" />
          <img src="assets/img/our-v-clock-mob.png" class="frame-about1" />
          <h3 class="frame1-h3">Be great.</h3>
          <p class="frame1-par">
            It's not just about accelerating companies, it's about launching the
            next generation of great founders.
          </p>
          <p class="frame1-par2">
            It's more than just getting through the day, it's about setting the
            bar high and conquering every moment. Sometimes being good won't cut
            it. Go above and beyond, think of the bigger picture and make the
            unimaginable happen.
          </p>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="team-h2">Our Team</div>
      <div class="team-categories">
        <span>Executive Board</span>
        <span>Operating Team</span>
        <span>Instructors</span>
      </div>
      <img
        src="assets/img/our-team-selectmenu.png"
        class="our-team-selectmenu"
      />

      <div class="team-wrapper">
        <div class="photo-wrapper">
          <img src="assets/img/team-member-1.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
        <div class="photo-wrapper">
          <img src="assets/img/team-member-2.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
        <div class="photo-wrapper">
          <img src="assets/img/team-member-3.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
      </div>
      <div class="team-wrapper">
        <div class="photo-wrapper wrapper1">
          <img src="assets/img/team-member-1.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
        <div class="photo-wrapper wrapper1">
          <img src="assets/img/team-member-2.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
        <div class="photo-wrapper wrapper1">
          <img src="assets/img/team-member-3.png" class="imgs" />
          <div class="team-member-details">
            <div class="name-detail">
              <h6>Enis Qafëleshi</h6>
              <p>CEO & Managing Partner</p>
            </div>
            <img
              src="assets/img/about-team-social.png"
              class="about-team-social"
            />
          </div>
        </div>
      </div>
    </section>

    <div class="desktop-partners">
      <app-about-us-partners></app-about-us-partners>
    </div>


    <div class="landscape-partners">
      <app-landscape-a-partners></app-landscape-a-partners>
    </div>


    <app-portfolio-about></app-portfolio-about>

    <div class="connect-wrapper">
      <h1>Let's connect</h1>
      <p>
        Have an idea or opportunity that you'd like to share? We'd love to hear
        from you! Let us know how we can help or share your thoughts and ideas.
      </p>
      <button>
        Contact us
        <img src="assets/img/connect-vector.svg" class="connect-vector" />
      </button>
    </div>

    <div class="footer"><app-footer></app-footer></div>
  </body>
</html>
