/* Import the base Swiper styles */
@import "swiper/css";
/* Import the Swiper navigation styles */
@import "swiper/css/navigation";
/* Import the Swiper pagination styles */
@import "swiper/css/pagination";

body {
  font-family: "Moderat";
  width: 1680px;
}

#more {
  display: none;
}

.sub-nav-links {
  border: 1px solid #e4e4e6;
  background: #f7f7f7;
  display: flex;
  height: 72px;
  padding: 24px 0px;
  align-items: center;
  flex-shrink: 0;
}

.nav-links-about {
  display: flex;
  margin-left: 8.5rem;
}

.nav-links-about li a {
  padding: 20px;
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.section1-about {
  margin-top: 112px;
}

.heading1-about {
  color: var(--color-primary-color-primary, #f50);
  text-align: center;
  font-family: Moderat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px; /* 135.714% */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.heading2-about {
  width: 660px;
  color: var(--color-accent-color-accent, #14181a);
  text-align: center;
  font-family: Moderat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.48px;
  margin-top: 24px;
  margin-left: 27.3rem;
}

.text1-about {
  width: 640px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  text-align: center;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-top: 24px;
  margin-left: 28.3rem;
}

.itp-photo-about {
  width: 1280px;
  height: 480px;
  flex-shrink: 0;
  margin-left: 7.8rem;
  margin-top: 112px;
}

.our-story-div {
  width: 1683px;
  height: 964px;
  flex-shrink: 0;
  background: #f7f7f7;
  padding: 18rem 0;
  margin-top: -16rem;
}

.our-story-wrapper {
  display: flex;
  margin-top: 80px;
}

.our-story {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
  margin-left: 8rem;
}

.our-story-par {
  width: 753px;
  color: var(--color-accent-color-accent, #14181a);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-left: 18.2rem;
  margin-top: 3px;
}

.our-story-mobile {
  display: none;
}

.proven-success-about {
  margin-top: -6rem;
}

.section2-about {
  /* width: 1680px;
  height: 601px;
  flex-shrink: 0; */
  background: #14181a;
}

.our-values-h2 {
  color: #fff;
  text-align: center;
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
  padding: 112px 0 0 0;
}

.our-values-frame {
  display: flex;
  width: 1280px;
  align-items: flex-start;
  gap: 32px;
  display: flex;
  margin-left: 8rem;
  padding-bottom: 144px;
}

.o-v-frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  padding-top: 95px;
  /* margin-top: 144px;
  margin-bottom: 144px; */
}

.frame-about {
  width: 48px;
  height: 48px;
}

.frame1-h3 {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Moderat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

.frame1-par {
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  width: fit-content;
}

.team-h2 {
  color: var(--color-accent-color-accent, #14181a);
  text-align: center;
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 112px;
}

.team-categories {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 44px 0 0 580px;
}

.team-categories span {
  color: var(--gray-500, #6b7280);
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.team-categories span:hover {
  display: flex;
  padding: 16px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  color: #14181a;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  margin-left: -10px;
}

.team-wrapper {
  display: inline-flex;
  align-items: flex-end;
  gap: 40px;
  margin-top: 83px;
  margin-left: 198.5px;
}

.photo-wrapper {
  width: 356.67px;
  height: 432px;
}

.team-member-details {
  width: 324px;
  height: 142px;
  flex-shrink: 0;
  background: #fff !important;
  margin-top: -4.5rem;
  position: relative !important;
}

.name-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding-top: 20px;
  padding-left: 1px;
}

.name-detail h6 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-detail p {
  color: var(--color-primary-color-primary, #f50);
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-team-social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.partners-about {
  width: 1680px;
  height: 739px;
  flex-shrink: 0;
  background: #111;
}

.partners-about h3 {
  color: var(--color-white-color-white, #fff);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10.5rem;
  padding-top: 5rem !important;
}

.partners-hr {
  width: 1210px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin-left: 10.5rem;
  margin-top: 1rem;
}

.portfolio-about h2 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 200px;
  margin-top: 112px;
}

.portfolio-about p {
  width: 640px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 200px;
  margin-top: 24px;
}

.portfolio-about button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 48px;
  background: var(--color-primary-color-primary, #f50);
  color: var(--color-white-color-white, #fff);
  text-align: center;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1300px;
  margin-top: -1rem !important;
  cursor: pointer;
}

.partnersSection {
  display: inline-flex;
  background: #111;
  width: 100%;
  height: 728px;
  flex-shrink: 0;
  padding: 0 15px;
}

.gizImg {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* margin-top: -10rem !important; */
}

.partners-img {
  width: 100%;
}

a {
  color: white;
}

.slider-container {
  padding-left: 10rem;
  padding-right: 18rem;
  width: 100%;
  margin-top: 4rem;
  height: 32vw;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 5rem !important;
  color: red !important;
  /* margin-left: -2rem; */
}

.projects-portfolio {
  margin-left: 9rem;
  padding-top: 5rem;
}

.projects-portfolio h2 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projects-portfolio div {
  display: flex !important;
  margin-top: 24px;
}

.projects-portfolio p {
  width: 640px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  /* margin-top: 24px; */
}

.projects-portfolio button {
  color: var(--color-white-color-white, #fff);
  text-align: center;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 48px;
  background: var(--color-primary-color-primary, #f50);
  margin-left: 33.8rem;
}

.portfolio-slide-wrapper {
  margin-left: 8rem;
  margin-top: 5rem;
  gap: 2rem;
}

.portfolio-slide {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--white, #fff);

  /* /shadow/lg */
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.slide-img-1 {
  width: 405px;
  height: 230px;
  flex-shrink: 0;
  background: #fff;
  padding: 88px 81.5px;
  border-bottom: 1px #e4e4e6;
}

.protfolio-slide-img {
  width: 242px;
  height: 54px;
  flex-shrink: 0;
}

.slide-img-content {
  width: 405px;
  padding: 24px 24px 60px 24px;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.category {
  color: #f50;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.659px; /* 116.62% */
  text-transform: uppercase;
}

.date {
  color: #72757c;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.659px; /* 116.62% */
  text-transform: uppercase;
}

.title {
  align-self: stretch;
  color: var(--gray-900, #111827);
  font-family: Moderat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  padding: 12px 0;
}

.paragraph {
  align-self: stretch;
  color: var(--gray-500, #6b7280);
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.connect-wrapper {
  display: flex;
  width: 820px;
  flex-direction: column;
  align-items: center;
  margin-top: 5.4rem;
  margin-left: 23rem;
}

.connect-wrapper h1 {
  width: 700px;
  color: var(--color-accent-color-accent, #14181a);
  text-align: center;
  font-family: Moderat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.connect-wrapper p {
  width: 519px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  text-align: center;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  margin-top: 16px !important;
}

.connect-wrapper button {
  color: #f9f9f9;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 40px;
  background: #f50;
  margin-top: 40px;
  cursor: pointer;
}

.footer {
  margin-top: 7rem;
}

.frame1-par2 {
  display: none !important;
}

.frame-about1 {
  display: none !important;
}

.our-team-selectmenu {
  display: none !important;
}

.landscape-partners {
  display: none;
}

.partnersLandscape {
  display: none;
}

@media (max-width: 768px) {
  .sub-nav-links {
    margin-left: -10rem !important;
  }
  .nav-links-about {
    overflow-x: auto !important;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 22px;
  }

  .heading1-about {
    align-self: stretch;
    color: var(--color-primary-color-primary, #f50);
    text-align: center;
    font-family: Moderat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }

  .heading2-about {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-left: 4px;
  }

  .text1-about {
    width: 380px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-left: 5.2px;
  }

  .itp-photo-about {
    width: 350px;
    height: 200px;
    flex-shrink: 0;
    margin-left: 1.2rem;
    margin-top: 3.5rem;
  }

  .our-story-div {
    width: 428px;
    height: 721px;
    flex-shrink: 0;
    background: #f7f7f7;
    padding: 50px 0 !important;
    margin-top: -6.5rem;
    max-height: 1000rem !important;
  }

  .our-story-desktop {
    display: none;
  }

  .our-story-mobile {
    display: inline;
  }

  .our-story-wrapper {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .our-story {
    align-self: stretch;
    color: var(--gray-900, #101828);
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1.2rem;
    margin-top: 1.3rem;
  }

  .our-story-par {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 1.2rem;
    /* padding: 0 400px 0 5px !important; */
    padding-right: 25rem !important;
  }

  .read-more {
    color: #f50;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .read-less {
    color: #f50;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: -3.2rem;
    margin-left: 10rem;
  }

  .proven-success-about {
    margin-top: 2rem;
  }

  .section2-about {
    overflow-y: hidden !important;
    height: 270vw;
  }

  .our-values-h2 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 60px;
  }

  .our-values-frame {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    margin-left: 0.1rem;
    padding: 10px;
  }

  .o-v-frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    padding: 0;
    margin-left: 10px;
  }

  .frame1-h3 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: Moderat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .frame1-par2 {
    display: inline !important;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }

  .frame1-par {
    display: none;
  }

  .frame-about {
    display: none;
  }

  .frame-about1 {
    display: inline !important;
  }

  .our-team-selectmenu {
    display: inline !important;
    margin-top: -1.8rem;
    margin-left: 10px;
  }

  .team-wrapper {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    margin-left: 0.1rem;
    padding: 10px;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .photo-wrapper {
    width: 380px;
    height: 380px;
    flex-shrink: 0;
    margin-left: 5px;
  }

  .wrapper1 {
    display: none;
  }

  .projects-portfolio {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
  }

  .projects-portfolio h2 {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-left: -8.3rem;
  }

  .projects-portfolio p {
    width: 380px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-left: -8.4rem;
    margin-top: -24px;
  }

  .portfolio-wrapper {
    background-color: #f7f7f7;
    height: 230vw !important;
  }

  .portfolio-slide-wrapper {
    margin-left: 1rem;
  }

  .portfolio-slide {
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--white, #fff);

    /* /shadow/lg */
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .slide-img-1 {
    width: 340px;
    height: 230px;
    flex-shrink: 0;
    background: #fff;
  }

  .category {
    color: #f50;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.659px; /* 116.62% */
    text-transform: uppercase;
  }

  .date {
    color: #72757c;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.659px; /* 116.62% */
    text-transform: uppercase;
  }

  .title {
    align-self: stretch;
    color: var(--gray-900, #111827);
    font-family: Moderat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
  }

  .paragraph {
    align-self: stretch;
    color: var(--gray-500, #6b7280);
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .slide-img-content {
    display: table-column;
    padding: 10px 70px 15px 40px !important;
    align-self: stretch;
    margin-left: -17.5px;
  }

  .connect-wrapper {
    margin-left: -10rem !important;
  }

  .connect-wrapper h1 {
    align-self: stretch;
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -7px !important;
  }

  .connect-wrapper p {
    flex: 1 0 0;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 0 80px !important;
    margin-left: -6.8rem !important;
  }

  .connect-wrapper button {
    margin-left: -6.8rem;
  }

  .landscape-partners {
    display: none;
  }
}

@media (max-width: 995px) and (orientation: landscape) {
  .sub-nav-links {
    margin-left: -10rem !important;
  }

  .nav-links-about {
    overflow-x: auto !important;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 22px;
  }

  .heading2-about {
    margin-left: 6rem;
    font-size: 40px;
  }

  .text1-about {
    margin-left: 7rem;
    font-size: 20px;
  }

  .itp-photo-about {
    margin-left: 1rem;
    width: 96.5%;
    height: 90%;
  }

  .our-story-wrapper {
    margin-top: 1rem;
  }

  .our-story {
    margin-left: 1rem;
  }

  .our-story-par {
    margin-left: 8rem;
    width: 30%;
  }

  .proven-success-about {
    margin-top: 2rem;
  }

  .section2-about {
    overflow-y: hidden !important;
    height: 125vw;
  }

  .our-values-h2 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 60px;
  }

  .our-values-frame {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    margin-left: 14.4rem;
    padding: 10px;
  }

  .o-v-frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    padding: 0;
  }

  .frame1-h3 {
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: Moderat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .frame1-par2 {
    display: inline !important;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .frame1-par {
    display: none;
  }

  .frame-about {
    display: none;
  }

  .frame-about1 {
    display: inline !important;
  }

  .team-wrapper {
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr)); */
    gap: 6px;
    /* margin-top: -1.5rem; */
    margin-bottom: 2rem;
    margin-left: -1.5rem !important;
  }

  .photo-wrapper {
    width: 200px;
    height: 100px;
    margin: 0 35px;
  }

  .imgs {
    width: 270px;
    height: 270px;
  }

  .team-member-details {
    width: 247px;
  }

  .team {
    margin-bottom: 7rem;
  }

  .team-categories {
    margin-left: 14.7rem;
  }

  .name-detail h6 {
    font-size: 20px;
  }

  .name-detail p {
    font-size: 17px;
  }

  .desktop-partners {
    display: none;
  }

  .landscape-partners {
    display: inline !important;
  }

  .connect-wrapper {
    margin-left: 1.3rem;
  }

  .our-story-div {
    height: 1121px;
    background: #f7f7f7;
  }

  .partnersDesktop {
    display: none;
  }

  .partnersLandscape {
    display: inline;
  }
}
