<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>

    <section class="section1">
      <h1>Contact us</h1>
      <p>
        We'd love to hear from you! Let us know how we can help or share your
        thoughts and ideas.
      </p>
    </section>

    <h1 class="get-in">Get in touch</h1>

    <section class="contact">
      <div class="details">
        <div class="address-details-wrapper">
          <div class="address-details">
            <span>Address</span>
            <p>
              Innovation and Training Park (ITP) <br />
               St. Ukë Bytyçi 20000 Prizren, Kosovo
            </p>
            <p class="get-direction">
              <a
                href="https://www.google.com/maps/dir//Makerspace+Innovation+Center+Prizren,+ITP+Prizren+Prizren+XK,+20000/@42.2081423,20.4341177,10z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1353958b7bf543d9:0x6904e1ac771a5297!2m2!1d20.7510593!2d42.2209675"
                target="_blank"
                class="small-thin-v3 orange-text"
                >Get direction</a
              >
            </p>
          </div>

          <div class="contact-information">
            <span>Contact information</span>
            <p>
              +383 49 473 001 <br />
              info@makerspaceprizren.com
            </p>
          </div>

          <div class="follow-us">
            <p>Follow us</p>
            <img src="assets/img/contact-follow-us.png" alt="" />
          </div>
        </div>
      </div>
      <div class="contact-form">
        <p>
          <!-- CONTACT FORM -->
        </p>
      </div>
    </section>

    <div class="visit-us">
      <h2>Visit us</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.694226361992!2d20.748470175805554!3d42.220979443877525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1353958b7bf543d9%3A0x6904e1ac771a5297!2sMakerspace%20Innovation%20Center%20Prizren!5e0!3m2!1str!2s!4v1695383455972!5m2!1str!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="social">
      <div class="div-social-wrappers">
        <img src="assets/img/logo-linkedi1.png" alt="" />
        <p>
          Stay up to date on <br />
          <span> LinkedIn</span>
        </p>
      </div>
      <div class="div-social-wrappers">
        <img src="assets/img/logo-instagram1.png" alt="" />
        <p>
          Stay up to date on <br />
          <span> LinkedIn</span>
        </p>
      </div>
      <div class="div-social-wrappers">
        <img src="assets/img/logo-twitter1.png" alt="" />
        <p>
          Stay up to date on <br />
          <span> LinkedIn</span>
        </p>
      </div>
      <div class="div-social-wrappers">
        <img src="assets/img/logo-youtube1.png" alt="" />
        <p>
          Stay up to date on <br />
          <span> LinkedIn</span>
        </p>
      </div>
      <div class="div-social-wrappers last-wrapper">
        <img src="assets/img/logo-facebook1 .png" alt="" />
        <p>
          Stay up to date on <br />
          <span> LinkedIn</span>
        </p>
      </div>
    </div>
    <!-- <div class="horizontal-line"></div> -->

    <app-footer></app-footer>
  </body>
</html>
