body {
  overflow-y: hidden;
}

.section1 {
  margin-top: 96px;
  margin-left: 30rem;
}

.section1 h1 {
  width: 527px;
  color: #14181a;
  text-align: center;
  font-family: Moderat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 112.5% */
}

.section1 p {
  width: 463px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  text-align: center;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  margin-top: 24px;
  margin-left: 2.4rem;
}

.contact {
  /* margin-top: 70px; */
  display: flex;
}

.get-in {
  width: 544px;
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.77px;
  padding: 0 10vw;
  margin-top: 70px;
}

.details {
  display: flex;
  width: 448px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0 10vw;
  margin-top: 40px;
}

.address-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.address-details span,
.contact-information span,
.follow-us p {
  width: 439px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  font-feature-settings: "case" on;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.address-details p {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 151.042% */
}

.address-details .get-direction a {
  color: #f50;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.contact-information p {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 151.042% */
  text-decoration-line: underline;
}

.follow-us img {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;
  margin-top: 12px;
}

.visit-us {
  margin-top: 268px;
  padding: 0 10vw;
}

.visit-us h2 {
  width: 544px;
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.77px; /* 132.693% */
}

.visit-us iframe {
  width: 1215px;
  height: 478.748px;
  flex-shrink: 0;
  margin-top: 32px;
}

.social {
  display: inline-flex;
  align-items: flex-start;
  padding: 0 7.5vw;
  margin-top: 112px;
  padding-bottom: 112px;
}

.div-social-wrappers {
  display: flex;
  width: 256px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-right: 1px solid #e4e4e6;
}

.div-social-wrappers img {
  width: 32px;
  height: 32px;
}

.div-social-wrappers p {
  color: var(--color-accent-color-accent, #14181a);
  text-align: center;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.div-social-wrappers p span {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  align-items: center;
}

.last-wrapper {
  border-right: none !important;
}

.horizontal-line {
  border-top: 1px solid #ccc;
  margin: 0 9.5rem;
  margin-left: 9rem;
}
.social-media-profile{
  text-decoration: none;
}
.contact-form{
  border: 1px solid var(--contrast-scale-color-bg-darker, #E4E4E6);
  padding: 24px;
  border-radius: 8px;
  margin-right: 120px;
}
.invalid-feedback {
  color: red;
}
.form-button{
  width: 155px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: #FF5500!important;
  border-radius: 48px;
  font-size: 16px;
  border-color:  #FF5500!important;
  margin-bottom: 24px;
}
.form-button:focus {
  background-color: #FF5500!important;
  border-color: #FF5500!important;
}

.is-invalid {
  background-image: url("src\assets\img\input-error.svg");
  background-repeat: no-repeat;
  border-color: red;
}
.form-control{
  color: #14181a;
}
label{
  color: #72757c;
}
.form-check-label{
  color: #14181a;
}
.contact-content{
  margin-top: 70px;

}

@media (max-width: 768px) {
  .horizontal-line {
    border-top: 1px solid #ccc;
    margin: 0 1.5rem;
    margin-top: 0.5rem;
  }

  .section1 {
    margin-left: -4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 96px;
  }

  .section h1 {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .section1 p {
    width: 380px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-left: -7px;
    margin-top: -1px;
    padding: 0 2px;
  }

  .contact {
    margin-left: -1.2rem;
  }

  .get-in {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.77px;
    margin-left: -1.2rem;
  }

  .details {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .address-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  .address-details span,
  .contact-information span,
  .follow-us p {
    width: 439px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    font-feature-settings: "case" on;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .address-details p {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 151.042% */
  }

  .get-direction a {
    color: #f50;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .horizontall-line {
    border: 1px solid #e4e4e6;
    margin: -32px 0 24px;
    width: 21.8rem;
  }

  .contact-information p {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 151.042% */
    text-decoration-line: underline;
  }

  .follow-us p {
    width: 439px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    font-feature-settings: "case" on;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .follow-us img {
    width: 30%;
  }

  .visit-us {
    margin-top: 96px;
    margin-left: -1.2rem;
  }

  .visit-us h1 {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.77px; /* 149.28% */
  }

  .visit-us iframe {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
  }

  .social {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
    gap: 3rem;
    margin-left: -5rem;
    padding: 0 28px 0 30px;
    margin-bottom: 2rem;
  }

  .last-wrapper {
    margin-left: 10px;
  }

  .left-media {
    margin-left: 1rem;
    padding-right: -10px !important;
  }

  .div-social-wrappers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .div-social-wrappers p {
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .div-social-wrappers span {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

}

@media (max-width: 995px) and (orientation: landscape) {
}
