
    <section id="more-recent-stories" aria-label="More Recent Stories">
      <div class="slider-container slider-container-1">
        <div class="slider-buttons" style="margin: 0 4px 25px 5px !important">
          <h3 class="slider-title" style="color: black">More recent stories</h3>

          <div class="swiper-button-wrapper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div *ngFor="let slide of slides" class="swiper-slide">
              <img [src]="slide.imgSrc" alt="" />
              <div class="div">
                <h4>{{ slide.category }}</h4>
                <h5 style="color: #14181a">
                  {{ slide.title }} <br />
                  <span>{{ slide.date }}</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
