
    <section id="proven-stats-wrapper">
      <h3>Proven success</h3>
      <div id="stats-wrapper">
        <div class="proven-1">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Evente te organizuara</p>
        </div>
        <div class="proven-2">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Ekipe perfituese</p>
        </div>
        <div class="proven-1">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Pjesemares ne evente</p>
        </div>
        <div class="proven-2">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Evente te organizuara</p>
        </div>

        <div class="proven-1">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Ekipe perfituese</p>
        </div>
        <div class="proven-2">
          <h4>
            94
            <span class="percent" style="background-color: #f7f7f7"> % </span>
          </h4>
          <span></span>
          <p>Pjesemares ne evente</p>
        </div>
      </div>
    </section>
