/* Import the base Swiper styles */
@import "swiper/css";
/* Import the Swiper navigation styles */
@import "swiper/css/navigation";
/* Import the Swiper pagination styles */
@import "swiper/css/pagination";

body {
  font-family: "Moderat";
  width: 1680px;
}

.portfolio-about h2 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 200px;
  margin-top: 112px;
}

.portfolio-about p {
  width: 640px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 200px;
  margin-top: 24px;
}

.portfolio-about button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 48px;
  background: var(--color-primary-color-primary, #f50);
  color: var(--color-white-color-white, #fff);
  text-align: center;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1500px;
  margin-top: -1rem !important;
  cursor: pointer;
}

.projects-portfolio {
  margin-left: 10.2rem;
  padding-top: 5rem;
}

.projects-portfolio h2 {
  color: var(--color-accent-color-accent, #14181a);
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projects-portfolio div {
  display: flex !important;
  margin-top: 24px;
}

.projects-portfolio p {
  width: 640px;
  color: var(--contrast-scale-color-contrast-medium, #72757c);
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  /* margin-top: 24px; */
}

.projects-portfolio button {
  color: var(--color-white-color-white, #fff);
  text-align: center;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 48px;
  background: var(--color-primary-color-primary, #f50);
  margin-left: 37rem;
}

.portfolio-slide-wrapper {
  margin-left: 8rem;
  margin-top: 5rem;
  gap: 2rem;
}

.slide-img-1 {
  /* width: 405px; */
  height: 30px;
  flex-shrink: 0;
  background: #fff;
  padding: 80px 60px;
  border-bottom: 1px red !important;
  margin: 1rem;
}

.protfolio-slide-img {
  width: 242px;
  height: 54px;
  flex-shrink: 0;
}

.slide-img-content {
  width: 405px;
  padding: 24px 40px 60px 10px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 240px;
  /* border-top: 1px solid red; */
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.category {
  color: #f50;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.659px; /* 116.62% */
  text-transform: uppercase;
}

.date {
  color: #72757c;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.659px; /* 116.62% */
  text-transform: uppercase;
}

.title {
  align-self: stretch;
  color: var(--gray-900, #111827);
  font-family: Moderat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
  padding: 12px 0;
}

.paragraph {
  align-self: stretch;
  color: var(--gray-500, #6b7280);
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.swiper-backface-hidden .swiper-slide {
  margin: 2rem;
  /* margin-left: 2rem; */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 405px !important;
  margin-top: -0.5rem;
}

.portfolio-about-button-mob {
  display: none;
}

.portfolio-about-hr {
  border: 1px solid #e4e4e6;
  width: 114%;
  margin-left: -1.6rem;
}

@media (max-width: 768px) {
  .projects-portfolio {
    display: inline-flex;
    flex-direction: column;
  }

  .projects-portfolio h2 {
    width: 380px;
    color: var(--color-accent-color-accent, #14181a);
    text-align: center;
    font-family: Moderat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-left: -6.3rem;
  }

  .projects-portfolio p {
    width: 380px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    text-align: center;
    font-family: Moderat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-left: -6.2rem;
  }

  .portfolio-wrapper {
    background-color: #f7f7f7;
    height: 245vw !important;
    gap: 24px;
  }

  .portfolio-slide-wrapper {
    margin-left: 1.3rem;
  }

  .swiper-backface-hidden .swiper-slide {
    display: flex;
    width: 310px !important;
    margin: 10px !important;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--white, #fff);
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin-top: -1rem !important;
  }

  .swiper-wrapper {
    margin-left: 32px;
  }

  .slide-img-1 {
    width: 203.16px;
    height: 54px;
    flex-shrink: 0;
    padding: 80px 15px 110px 20px;
    margin-top: 1rem !important;
  }

  .frame {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .date {
    color: #72757c;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.659px; /* 116.62% */
    text-transform: uppercase;
  }

  .title {
    align-self: stretch;
    color: var(--gray-900, #111827);
    font-family: Moderat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
  }

  .paragraph {
    align-self: stretch;
    color: var(--gray-500, #6b7280);
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .slide-img-content {
    padding: 0 130px 0 10px;
  }

  .portfolio-about-button-mob {
    display: flex;
    width: 300px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 48px;
    background: var(--color-primary-color-primary, #f50);
    color: var(--color-white-color-white, #fff);
    text-align: center;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 3rem !important;
  }

  .portfolio-about-hr {
    border: 1px solid #e4e4e6;
    width: 117%;
    margin-left: -1.6rem;
  }
}

@media (max-width: 995px) and (orientation: landscape) {
  .portfolio-about h2 {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 200px;
    margin-top: 112px;
  }

  .portfolio-about p {
    width: 640px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    font-family: Moderat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 200px;
    margin-top: 24px;
  }

  .projects-portfolio {
    display: inline-flex;
    flex-direction: column;
  }

  .portfolio-wrapper {
    background-color: #f7f7f7;
    height: 110vw !important;
    gap: 24px;
  }

  .projects-portfolio h2 {
    color: var(--color-accent-color-accent, #14181a);
    font-family: Moderat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .projects-portfolio div {
    display: flex !important;
    margin-top: 24px;
  }

  .projects-portfolio p {
    width: 640px;
    color: var(--contrast-scale-color-contrast-medium, #72757c);
    font-family: Moderat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    /* margin-top: 24px; */
  }

  .portfolio-about-button-mob {
    display: inline;
    width: 300px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 48px;
    background: var(--color-primary-color-primary, #f50);
    color: var(--color-white-color-white, #fff);
    text-align: center;
    font-family: Moderat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2rem !important;
    margin-top: 1rem;
  }

  .swiper-backface-hidden .swiper-slide {
    display: flex;
    width: 300px !important;
    margin: 10px !important;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--white, #fff);
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin-top: -1rem !important;
  }

  .swiper-wrapper {
    margin-left: 20px;
  }

  .slide-img-content {
    padding: 0 140px 0 10px;
  }

  .slide-img-1 {
    width: 203.16px;
    height: 54px;
    flex-shrink: 0;
    padding: 80px 10px;
  }

  .portfolio-about-hr {
    border: 1px solid #e4e4e6;
    width: 117.5%;
    margin-left: -1.6rem;
  }
}
