/* Import the base Swiper styles */
@import "swiper/css";
/* Import the Swiper navigation styles */
@import "swiper/css/navigation";
/* Import the Swiper pagination styles */
@import "swiper/css/pagination";

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  margin-top: 1rem;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px #f50;
  font-size: 20px;
  margin-top: 13.5rem;
  right: 30px;
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 1.5rem;
  /* margin-left: -2rem; */
}

:root {
  --swiper-theme-color: #a2a2a9;
}

:root {
  --swiper-navigation-size: 20px;
}

.swiper-wrapper {
  align-items: flex-start;
}

.swiper {
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: #37383e;
}

@media screen and (max-width: 600px) {
  /* .swiper-button-prev,
  .swiper-button-next {
    margin-top: 18.1rem;
    margin-left: 0.5rem;
  } */

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -3px;
    margin-left: -27%;
  }

  .swiper-wrapper {
    margin-bottom: 40px;
  }

  .swiper-button-prev {
    margin-left: -5px !important;
    margin-top: 18rem !important;
  }

  .swiper-button-next {
    margin-top: 18rem;
    margin-right: 24rem;
  }
}

@media (max-width: 995px) and (orientation: landscape) {
  .swiper-button-prev,
  .swiper-button-next {
    right: 45px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 2.5rem;
    margin-left: -1rem;
  }
}
