
    <app-header></app-header>
    <app-sub-navbar></app-sub-navbar>

    <main>
      <section id="main-banner" aria-label="Welcoming Section">
        <div id="text-content">
          <h1>Shaping the makers of tomorrow.</h1>
          <h2>
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
            lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
            fugiat amet lorem aliqua.
          </h2>
          <a href="" class="primary-btn0" style="margin-top: 2.5%"
            >Read More <i class="iconoir-arrow-right"></i
          ></a>
        </div>
        <img src="assets/img/photo-par-1.png" class="photo-par-1" />
      </section>
      <app-slider-component></app-slider-component>

      <app-slider1></app-slider1>
      <section id="what-we-offer">
        <div class="offer-wrapper">
          <div>
            <svg
              class="incubator-logo"
              width="64"
              height="65"
              viewBox="0 0 64 65"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Ellipse 8 (Stroke)"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M32 50.5513C22.0306 50.5513 13.9487 42.4694 13.9487 32.5C13.9487 22.5306 22.0306 14.4487 32 14.4487C41.9694 14.4487 50.0513 22.5306 50.0513 32.5C50.0513 42.4694 41.9694 50.5513 32 50.5513ZM32 64.5C14.3269 64.5 0 50.1731 0 32.5C0 14.8269 14.3269 0.5 32 0.5C49.6731 0.5 64 14.8269 64 32.5C64 50.1731 49.6731 64.5 32 64.5Z"
                fill="#009DE0"
              />
            </svg>
            <h3 class="we-offer-h3">Incubator</h3>
            <p class="we-offer-p">
              The incubator offers a range of resources, including access to
              capital and mentoring,  as well as networking and collaboration
              opportunities.
            </p>
            <a href="" class="we-offer-button" style="background-color: #009de0"
              >Discover More <i class="iconoir-arrow-right"></i
            ></a>
          </div>

          <img src="assets/img/incubator.png" alt="" />
        </div>
        <div class="offer-wrapper">
          <img src="assets/img/trainings.png" class="training-img" />
          <div class="offer-wrapper-training">
            <svg
              class="trainings-logo"
              width="62"
              height="63"
              viewBox="0 0 62 63"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="Group 129">
                <circle
                  id="Ellipse 9"
                  cx="48.8714"
                  cy="13.6282"
                  r="13.1282"
                  fill="#1DAD74"
                />
                <circle
                  id="Ellipse 10"
                  cx="48.8714"
                  cy="49.3723"
                  r="13.1282"
                  fill="#1DAD74"
                />
                <circle
                  id="Ellipse 11"
                  cx="13.1282"
                  cy="13.6282"
                  r="13.1282"
                  fill="#1DAD74"
                />
                <circle
                  id="Ellipse 12"
                  cx="13.1282"
                  cy="49.3723"
                  r="13.1282"
                  fill="#1DAD74"
                />
              </g>
            </svg>
            <h3 class="we-offer-h3">Trainings</h3>
            <p class="we-offer-p">
              The trainings offered by Makerspace Innovation Center cover a
              variety of topics and discipline and are designed to give people
              the knowledge and skills they need to move their projects forward.
            </p>
            <a href="" class="we-offer-button" style="background-color: #1dad74"
              >Discover More <i class="iconoir-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="offer-wrapper">
          <div>
            <svg
              class="coworking-logo"
              width="73"
              height="65"
              viewBox="0 0 73 65"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="Group 128">
                <path
                  id="Subtract"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 64.5C7.8837e-05 64.5 0.000157674 64.5 0.000236511 64.5C17.6733 64.5 32.0002 50.1731 32.0002 32.5C32.0002 14.8269 17.6733 0.5 0.000236511 0.5C0.000157674 0.5 7.8837e-05 0.5 0 0.5V14.4487C7.8837e-05 14.4487 0.000157674 14.4487 0.000236511 14.4487C9.96968 14.4487 18.0515 22.5306 18.0515 32.5C18.0515 42.4694 9.96968 50.5513 0.000236511 50.5513C0.000157674 50.5513 7.8837e-05 50.5513 0 50.5513V64.5Z"
                  fill="#8D3494"
                />
                <path
                  id="Subtract_2"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M72.2051 64.5C72.205 64.5 72.205 64.5 72.2049 64.5C54.5318 64.5 40.2049 50.1731 40.2049 32.5C40.2049 14.8269 54.5318 0.5 72.2049 0.5C72.205 0.5 72.205 0.5 72.2051 0.5V14.4487C72.205 14.4487 72.205 14.4487 72.2049 14.4487C62.2354 14.4487 54.1536 22.5306 54.1536 32.5C54.1536 42.4694 62.2354 50.5513 72.2049 50.5513C72.205 50.5513 72.205 50.5513 72.2051 50.5513V64.5Z"
                  fill="#8D3494"
                />
              </g>
            </svg>
            <h3 class="we-offer-h3">Co-working</h3>
            <p class="we-offer-p">
              The co-working space is designed to provide a collaborative
              workspace for entrepreneurs, small businesses, freelancers, and
              others who need an affordable, flexible workspace to work and
              collaborate on projects.
            </p>
            <a href="" class="we-offer-button" style="background-color: #8d3494"
              >Discover More <i class="iconoir-arrow-right"></i
            ></a>
          </div>
          <img src="assets/img/coworking.png" alt="" />
        </div>
      </section>
      <section id="company-slogan-wrapper">
        <div>
          <h2>We help ambitious companies scale to their potential.</h2>
          <a
            href=""
            class="we-offer-button"
            style="background-color: #ff5500; margin-left: 1rem"
            >Our mission<i class="iconoir-arrow-right"></i
          ></a>
        </div>
        <p>
          We are an innovation center founded in 2017 in the heart of Prizren,
          Kosovo. Our mission is to foster innovation, creativity, <br />
          and collaboration by providing a unique space where individuals and
          organizations can come together to share ideas, learn new skills, and
          develop innovative solutions to today's challenges. <br /><br />At
          Makerspace Innovation Center Prizren, we believe that innovation is
          the key to success in today's rapidly |changing world.
        </p>
      </section>
      <div class="slogan-img-wrapper">
        <img src="assets/img/itp.png" alt="" />
      </div>

      <app-proven-success></app-proven-success>

      <app-partners-section></app-partners-section>
      <section class="newsletter-wrapper">
        <h2>Stay in the known</h2>
        <p>
          Sign up to our newsletter to receive the latest research results,
          technology opportunities and upcoming events.
        </p>
        <form action="">
          <input type="text" placeholder="Enter your email" />
          <button class="primary-btn" style="background-color: #ff5500">
            Subscribe
          </button>
        </form>
      </section>
    </main>
    <app-footer></app-footer>

    <app-root></app-root>
