@media only screen and (max-width: 480px) {
  section {
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* margin-left: 0.6rem; */
    margin-bottom: 1rem;
  }

  .offer-wrapper {
    width: 100%;
  }


}
