
    <div class="partnersSection">
      <div class="partnersContent container">
        <h1>Our partners and investors</h1>
      </div>

      <div class="partnersSlider-ctn slider-container landscape-partners">
        <swiper
          [slidesPerView]="2"
          [spaceBetween]="5"
          [navigation]="true"
          [pagination]="{ clickable: true }"
          [autoplay]="{ delay: 2500, disableOnInteraction: false }"
        >
          <ng-template
            swiperSlide
            *ngFor="let partnersItem of partnerItemsTransformed"
          >
            <div class="swiper-slide pSlider">
              <div class="column">
                <div *ngFor="let image of partnersItem" class="gizImg">
                  <a href="#">
                    <img [src]="image" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template
            swiperSlide
            *ngFor="let partnersItem of partnerItemsTransformed"
          >
            <div class="swiper-slide pSlider">
              <div class="column">
                <div *ngFor="let image of partnersItem" class="gizImg">
                  <a href="#">
                    <img [src]="image" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template
            swiperSlide
            *ngFor="let partnersItem of partnerItemsTransformed"
          >
            <div class="swiper-slide pSlider">
              <div class="column">
                <div *ngFor="let image of partnersItem" class="gizImg">
                  <a href="#">
                    <img [src]="image" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
