<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes, viewport-fit=cover"
    />
    <title>Document</title>
    <link rel="stylesheet" href="slider1.component.css" />
  </head>
  <body>
    <section id="latest-events" aria-label="More Recent Stories">
      <div class="slider-container-1 slider-container-2">
        <div class="slider-buttons">
          <h3>Join our many events</h3>
          <div>
            <button
              class="slider-button slider-button-left slider-button-left-1"
              (click)="moveLeft()"
            >
              <i class="iconoir-arrow-left"></i>
            </button>
            <button
              class="slider-button slider-button-right slider-button-right-1"
              (click)="moveRight()"
            >
              <i class="iconoir-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="slider-content-wrapper-1">
          <div class="slider-slide" *ngFor="let slide of slides">
            <img [src]="slide.imgSrc" [alt]="slide.alt" class="slider-2-img" />
            <div class="slider-slide-details">
              <h5 class="date">{{ slide.date }}</h5>
              <h4 class="slider-2-h4">{{ slide.title }}</h4>

              <button
                class="primary-btn-slider-2"
                (mouseenter)="changeText(slide)"
                (mouseleave)="restoreText(slide)"
              >
                {{ slide.buttonText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
